body{
    display:flex;
    flex-direction:column;
}
.header{
    display:flex;
    justify-content:space-evenly;
    border:5px solid blue;
    padding:10px;
    background-color:rgb(19, 48, 82);
    color:white;
    font-family:helvetica;
}
a{
    text-decoration:none;
    color:white;
}
.top-right-flex{
    border:5px solid rebeccapurple;
    
    flex:1;
}
.logo{
    display:flex;
    flex:1;
}