@font-face {
    src: url(fonts/rio_grande/RioGrande.ttf);
    font-family:riogrande;
}
@font-face{
    src: url(fonts/western/WEST____.TTF);
    font-family:westish;
}



body{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
p{
    font-family:helvetica;
}
/*Header and all header sub-parts */
.header{
    display:flex;
    justify-content:space-evenly;
    padding:10px;
    background-color:rgb(19, 48, 82);
    color:white;
    font-family:riogrande;
}
h1{
    color:white;
    font-weight:bold;
    margin-left:300px;
    font-size:50px;
}
.established{
    font-family:riogrande;
    font-size:30px;
    margin-bottom:auto;
    margin-right:auto;
    margin-left:5px;
}
.time{
    font-family:westish;
    font-size:30px;
    margin-left:10px;
}
.color-bit{
    color:yellow;
}
.header-right{
    flex:1;
    justify-content:flex-start;
}
.header-left{
    display:flex;
    flex:1;
    border-right:10px solid rgb(24, 61, 102);
    
    }

.normalink{
    text-decoration:underline;
    color:rgb(111, 111, 204);
}

a{
    text-decoration:none;
    color:white;
    font-size:30px;
    font-family:helvetica;
}
ul{
    list-style:none;
    display:flex;
    flex:1;
    justify-content:flex-end;
    gap:20px;
    align-items:center;
    margin-right:100px;

}


                                                   /* awesome and all awesome sub-parts */
.awesome{
    display:flex;
    justify-content:center;
    gap:50px;
    background-image: url('images/deser.jpg');
    background-size: cover;
    border-top:3px solid black;
    border-bottom: 3px solid black;
}
.awesome-left{
    display:flex;
    margin-left:200px;
}

.awesome-right{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin-right:150px;
    background-image: linear-gradient(to right, rgba(221, 221, 20, 0.01),rgba(241, 158, 3, 0.7));
    margin-top:10px;
    margin-bottom:10px;
    align-items:center;
    border:3px solid black;
    border-radius:5%;
    

}
.textbox{
    font-family:westish;
    font-size:50px;
    margin-right:50px;
    margin-left:50px;
    text-align:justify;
    text-indent:40px;
    color:rgb(7, 92, 7);
    text-shadow: 2px 2px black;

    

}
.awesome-text{
    font-family:riogrande;
    font-weight:700;
    font-size:70px;
    color:rgb(255, 255, 255);
    margin-right:300px;
    text-shadow: 5px 5px black;
}
.pecos{
    height:400px;
    width:auto;
    border-radius:100%;
    border-style:groove;
    margin-top:30px;
    margin-bottom:30px;
    box-shadow: 5px 5px rgba(2, 2, 2, 0.7);
    border:3px solid black;
}


.random-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url(images/brick2.jpg);
    justify-content:center;
    
}
.images-text{
    display:flex;
    gap:30px;
    margin-top:40px;
    margin-left:150px;
    margin-right:150px;

}
.white{
    height:400px;
    width:300px;
    border-style:groove;
    box-shadow:5px rgba(2, 2, 2, 0.7);
    border:3px solid black;
}

.image-pair{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;

}
h2{
    font-size:40px;
    font-family:helvetica;
    font-weight:bold;
}
.under-photo{
    text-align:center;
    flex-wrap:wrap;
}

.inspiring-quote{
    display:flex;
    background-color:rgb(0, 26, 255);
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.quote{
    font-size:40px;
}